@media screen and (min-width: 1170px) and (max-width: 1280px) {
    .footer-text {
        flex-wrap: wrap;
    }

    .main-text__article {
        width: 645px;
        margin-right: 12px;
    }

    .main-text__aside {
        margin-left: 12px;
    }
}