/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------my work-------------------*/

@font-face {
    font-family: "AlphaEcho";
    src: url("../fonts/alpha_echo.ttf");
}

@font-face {
    font-family: "SourceSansPro";
    font-style: italic;
    src: url("../fonts/SourceSansPro-Italic.ttf");
}

@font-face {
    font-family: "Hamburg-TS-ExtraLight";
    src: url("../fonts/Hamburg-TS-ExtraLight.ttf");
}

/* for "Dopetrope"*/

.head-text {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.head-text__logo {
    font-family: "AlphaEcho";
    color: rgb(37, 33, 34);
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 90px;
}

.head-text__logo::first-letter {
    font-size: 1.5em;
}

/* for "Home" "About us" ... */

.head-navigation {
    margin-top: 48px;
    margin-bottom: 42px;
}

.head-text__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head-text__nav-menu {
    width: min-content;
    height: 100%;
    font-family: "SourceSansPro";
    font-size: 17px;
    padding: 12px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.head-text__nav-menu:hover {
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
}

.head-text__nav-menu a {
    text-decoration: none;
    color: rgb(198, 198, 198);
}

.style-news {
    border: none;
    border-radius: 5px;
    background-color: rgb(204, 0, 68);
}

.style-news:hover {
    background-color: rgb(204, 0, 68);
}

.style-news a {
    color: white;
}

.head-line {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid rgb(198, 198, 198);
    background-color: rgb(242, 242, 242);
}

/* main */

.main-text {
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    padding-top: 30px;
}

.main-text h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 22px;
}

.main-text h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 23px;
}

.main-text__article {
    width: 780px;
    height: min-content;
    background-color: rgb(255, 255, 255);
    margin-right: 28px;
}

.main-text__article-container {
    padding-left: 28px;
    padding-right: 28px;
}

.main-text__article-italic {
    font-style: italic;
    font-size: 23px;
    padding-top: 0;
}

section p {
    font-family: "Hamburg-TS-ExtraLight";
    line-height: 1.8;
    padding-top: 7px;
    padding-bottom: 38px;
}

.for-image {
    width: 100%;
    height: auto;
}

.main-text__aside {
    width: 372px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.main-text__aside-dog {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.main-text__aside-fruits {
    width: 100%;
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.main-text__aside-section {
    margin: 28px 40px;
}

#fruit-links {
    color: rgb(204, 0, 0);
    font-size: 17px;
}

.aside-button {
    width: 200px;
    height: 51px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 17px;
    margin-top: 40px;
}

/* footer */

.footer-text {
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer-text__details {
    width: 340px;
    margin-left: 39px;
    margin-right: 39px;
}

.footer-text__details:nth-child(3) {
    width: 366px;
}

.footer-text__details h2 {
    text-align: left;
    font-size: 27px;
    color: rgb(255, 255, 255);
    padding-top: 43px;
    padding-bottom: 25px;
}

.divided li {
    border-bottom: 1px solid rgb(164, 166, 168);
    padding-top: 25px;
    padding-bottom: 20px;
}

.divided li:last-child {
    border-bottom: none;
}

.divided a {
    font-size: 17px;
    color: rgb(164, 166, 168);
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 23px;
}

.social img {
    width: 50px;
    height: auto;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact h3 {
    width: 30%;
    font-weight: 900;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.contact p, .contact a {
    color: rgb(77, 77, 77);
}

.contact li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    border-bottom: 1px solid rgb(164, 166, 168);
    padding-top: 17px;
    padding-bottom: 38px;
}