@font-face {
    font-family: "Lemonada";
    font-weight: 400;
    src: url("../fonts/Lemonada-Regular.ttf");
}

@font-face {
    font-family: "Georama";
    font-weight: 400;
    src: url("../fonts/Georama-Regular.ttf");
}

body {
    background: url("../images/asia.jpg");
    background-size: cover;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: min-content;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left-information {
    width: auto;
}

.main-title {
    font-family: "Lemonada";
    text-transform: uppercase;
    font-size: 1.7em;
}

.about-travel {
    text-align: center;
    font-size: 1.1em;
}

.right-information {
    width: auto;
    padding-top: 15px;
    /*
    I coudn’t make:
    vertical-align: middle;
    */
}

.about-contacts {
    font-size: 1.1em;
}

p {
    margin: 0;
    font-size: 0.8em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.element {
    width: 250px;
    height: 160px;
    margin: 20px 0;
    text-align: center;
}

img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
}

.country-name {
    margin: 0;
    font-family: "Georama";
    font-size: 1.1em;
    text-align: center;
}

footer {
    margin-top: 10px;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
}

