@font-face {
    font-family: "Teen";
    src: url("../fonts/teen.ttf");
}

@font-face {
    font-family: "Rubic";
    src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: url("../images/asia.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

p {
    font-family: "Georama";
    font-size: 0.8em;
}

.all {
    width: 640px;
    margin: 0 auto;
    padding-top: 96px;
}

.upper-part {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.left-information {
    width: 210px;
}

.asia-holidays {
    font-family: "Teen";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
}

.fa-globe {
    display: inline-flex;
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    font-size: 27px;
}

.travel-asia {
    font-family: "Rubic";
    text-align: center;
    font-size: 9px;
    margin-top: 5px;
}

.contact-us {
    font-family: "Roboto";
    text-align: left;
    font-size: 11px;
    margin-bottom: 5px;
}

.right-information {
    width: 89px;
    padding-top: 15px;
}

.number-address {
    font-family: "Rubic";
    font-size: 8px;
    list-style-type: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.first-pictures, .second-pictures {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.element {
    width: 207px;
    height: min-content;
}

img {
    width: 100%;
    height: 143px;
    object-fit: cover;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
}

.country-name {
    font-family: "Roboto";
    text-align: center;
    font-size: 12px;
}

.lower-part {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.copyright {
    font-family: "Roboto";
    text-align: center;
    font-size: 9px;
}