@font-face {
    font-family: "Lemonada";
    font-weight: 400;
    src: url("../fonts/Lemonada-Regular.ttf");
}

@font-face {
    font-family: "Georama";
    font-weight: 400;
    src: url("../fonts/Georama-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: url("../images/asia.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

.all {
    width: 640px;
    margin: 0 auto;
    padding-top: 100px;
}

.upper-part {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.left-information {
    width: 200px;
}

.main-title {
    font-family: "Lemonada";
    text-transform: uppercase;
    font-size: 1.355em;
}

.about-travel {
    text-align: center;
}

.right-information {
    width: 100px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.first-pictures, .second-pictures {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.element {
    width: 200px;
    height: min-content;
}

img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border: 3px solid whitesmoke;
    box-sizing: border-box;
}

.country-name {
    font-family: "Georama";
    text-align: center;
}

.lower-part {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.copyright {
    text-align: center;
}