* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "FiraCode-Regular";
    src: url("../fonts/FiraCode-Regular.ttf");
}

.rectangle {
    height: 397px;
    width: 806px;
    margin-top: 141px;
    margin-left: auto;
    margin-right: auto;
    border: 5px double rgb(100,100,92);
    box-sizing: border-box;
    background-color: rgb(245,245,221);
    padding-left: 75px;
    padding-right: 75px;
}

.row-rectangle {
    display: flex;
    width: 100%;
    height: 129px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.cell-row  {
    width: min-content;
    float: left;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

.title {
    font-family: "FiraCode-Regular";
    color: rgb(80,77,76);
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 13px;
}

.fa {
    font-size: 23px;
    transition: 0.25s;
}

.fa-fw {
    width: 2px;
}

.fa-check-circle {
    color: rgb(109,194,94);
}

.first:hover .fa-check-circle {
    color: rgb(255,0,0);
}

.fa-caret-right,
.fa-caret-left {
    color: rgb(0,0,0);
}

.second:hover .fa-caret-right,
.second:hover .fa-caret-left {
    color: rgb(252,110,33);
}

.fa-star {
    color: rgb(4,20,251);
}

.third:hover .fa-star {
    color: rgb(0,0,0);
}