* {
    margin: 0;
    padding: 0;
}

div {
    height: 431px;
    width: 858px;
    margin-top: 155px;
    margin-left: auto;
    margin-right: auto;
    border: 6px double black;
    box-sizing: border-box;
    background-color: beige;
    padding: 0 70px;
}

ul {
    display: flex;
    width: 100%;
    height: 143px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

li {
    float: left;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

p {
    text-transform: uppercase;
}

i {
    font-size: 1.7em !important;
    transition: 1.5s;
}

.fa-check-circle {
    color: greenyellow;
}

.first:hover .fa-check-circle {
    color: red;
}

.fa-arrows-h {
    color: black;
}

.second:hover .fa-arrows-h {
    color: orange;
}

.fa-star {
    color: blue;
}

.third:hover .fa-star {
    color: black;
}