/*font for "Create your account" and "man, woman"*/
@font-face {
  font-family: "Tuff-Bold";
  src: url("../font/Tuff-Bold.ttf");
}

/*font for "Sign Up"*/
@font-face {
  font-family: "Noyh-SemiLight";
  src: url("../font/Noyh-SemiLight.ttf");
}

/*font for others*/
@font-face {
  font-family: "Inconsolata-SemiBold";
  src: url("../font/Inconsolata-SemiBold.ttf");
}

/*first setting*/
* {
  margin: 0;
  padding: 0;
}

/*properties of the whole form*/
.page-form {
  width: 520px;
  margin: 0 auto;
  margin-top: 22px;
  border: 2px solid rgb(102, 102, 102);
  background-color: rgb(255,255,255);
  border-radius: 10px;
  overflow: hidden;
}

/*form header properties*/
.page-form__headling {
  height: 53px;
  text-align: center;
  background: rgb(58, 156, 112);
  color: rgb(255,255,255);
  padding-top: 16px;
  font-family: 'Tuff-Bold';
  font-size: 1.8em;
}

/*properties of the block under the header*/
.page-form__section {
  margin: 25px;
}

/*size of input and select*/
.page-form__input,
.page-form__select {
  width: 100%;
  height: 38px;
  border: 1px solid rgb(204,204,204);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 22px;
  padding-left: 12px;
  color: rgb(102, 102, 102);
}

.page-form__label-text, 
.page-form__select,
::placeholder {
  font-family: "Inconsolata-SemiBold";
  font-size: 1.1em;
  font-weight: 400;
}

.page-form__input,
.page-form__select,
.page-form__submit {
  width: 100%;
}

.page-form__input, 
.page-form__submit {
  font-family: "Noyh-SemiLight";
}

.page-form__button-radio {
  margin-bottom: 24px;
}

.page-form__radio-text {
  font-family: "Tuff-Bold";
  font-size: 1.1em;
  margin-left: 6px;
  margin-right: 20px;
}

.page-form__checkbox {
  margin-right: 8px;
}

/*input frame shadow*/
.page-form__input:focus,
.page-form__select:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgb(179, 205, 232);
}

/*properties of the "Sign Up" submit button*/
.page-form__submit {
  height: 45px;
  background: rgb(109, 176, 129);
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  margin-top: 25px;
}

/*change the color of the "Sign Up" submit button*/
.page-form__checkbox:checked~.page-form__submit {
  background: rgb(38, 138, 70);
}

/*shadow of checkbox*/
.page-form__checkbox:checked {
  box-shadow: 0 0 2px 2px skyblue;
}

/*backdown before "Position"*/
.clearfix::before {
  content: "";
  clear: both;
  display: block;
}

/*change styles of rudiobutton*/
input[type=radio] {
  display: none;
}

input[type=radio] + .false-span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px; 
  height: 14px;
  border-radius: 50%;
  border: 0.5px solid rgb(102, 102, 102);
}

/*color of checking button*/
input[type=radio]:checked + .false-span {
  background-color: rgb(17,118,226);
}

/*add white point inside circle*/
input[type=radio]:checked + .false-span::before { 
  content: '';
  position: absolute;
  left: 3.5px;
  top: 3.5px;
  background: rgb(255,255,255);
  width: 7px; 
  height: 7px;
  border-radius: 50%;
 }