body {
    background-color: aqua;
}

.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.menu-item-ul {
    padding: 0;
    width: 100%;
}

.menu-item-li {
    height: 40px;
    width: 20%;
    padding-top: 10px;
    display: inline;
    float: left;
    text-align: center;
    background-color: yellow;
    border:  1px solid black;
    box-sizing: border-box;
}

.title-big {
    color: black;
    text-align: center;
}

.title-middle {
    color: blue;
    text-align: left;
}

.general-image {
    width: 450px;
    height: auto;
    float: left;  
}

.capacity {
    height: 220px;
    text-align: left;
    font-style: italic;
    float: left;
}

section {
    clear: left;
}