strong {
    font-weight: bold;
    font-style: italic;
}

.type-first{
    color: red;
}

.type-second{
    color:green;
}

.type-third{
    color: blue;
}

.size-text{
    font-size: 1.4em;
}