body {
    background-color: aqua;
}

.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.menu-item-ul {
    padding: 0;
    width: 100%;
}

.menu-item-li {
    height: 40px;
    width: 20%;
    padding-top: 15px;
    display: inline-table;
    float: left;
    text-align: center;
    background-color: yellow;
    outline:  1px solid black;
}

.title-big {
    color: black;
    text-align: center;
}

.title-middle {
    color: blue;
    text-align: left;
}

.general-image {
    width: 450px;
    height: auto;
    float: left;  
}

.content {
    height: 220px;
    float: left;
    margin-left: 500px;
    text-align: left;
    font-style: italic;
    float: none;
}